<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Set the character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure proper rendering and touch zooming on mobile devices -->
    <title><%= title %></title> <!-- Title of the document, dynamically set -->
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to external CSS file for styling -->
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Logo and navigation -->
        <img src="/images/Budget_logo.svg" alt="Budget Logo" class="logo"> <!-- Company logo -->
        <h1>Budget Claims System</h1> <!-- Main heading -->
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li> <!-- Link to Dashboard -->
                <li class="Claims">
                    <a href="javascript:void(0)" class="dropbtn">Claims</a> <!-- Dropdown trigger -->
                    <div class="dropdown-content">
                        <a href="/claims/search">Search Claims</a> <!-- Link to Search Claims -->
                        <a href="/claims/add">Add Claim</a> <!-- Link to Add Claim -->
                        <a href="/claims/auto-generate">Auto Generate Claim</a>
                    </div>
                </li>
                <li><a href="/reports">Reports</a></li> <!-- Link to Reports -->
                <li class="Settings">
                    <a href="javascript:void(0)" class="dropbtn">Settings</a> <!-- Dropdown trigger -->
                    <div class="dropdown-content">
                        <a href="/user-management">User Management</a> <!-- Link to User Management -->
                        <a href="/email-templates">Email Templates</a> <!-- Link to Email Templates -->
                    </div>
                </li>
                <li><a href="/help">Help</a></li> <!-- Link to Help -->
                <li><a href="/logout">Logout</a></li> <!-- Link to Logout -->
            </ul>
        </nav>
    </header>
    <main>
        <!-- Main content injected here -->
        <%- include(locals.body || 'error', locals) %>
    </main>

    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
