<%- include('partials/header') %>

<div class="report-builder">
    <div class="builder-sidebar">
        <div class="available-fields">
            <h3>Available Fields</h3>
            <div class="field-list" id="availableFields">
                <!-- Fields will be populated via JavaScript -->
            </div>
        </div>
        
        <div class="chart-components">
            <h3>Charts</h3>
            <div class="chart-list">
                <div class="chart-item" draggable="true" data-type="bar">Bar Chart</div>
                <div class="chart-item" draggable="true" data-type="line">Line Chart</div>
                <div class="chart-item" draggable="true" data-type="pie">Pie Chart</div>
            </div>
        </div>
    </div>

    <div class="builder-main">
        <div class="builder-toolbar">
            <button id="saveTemplate" class="btn btn-primary">Save Template</button>
            <button id="previewReport" class="btn btn-secondary">Preview</button>
        </div>

        <div class="report-canvas" id="reportCanvas">
            <!-- Report elements will be placed here -->
        </div>
    </div>

    <div class="builder-properties">
        <h3>Properties</h3>
        <div id="elementProperties">
            <!-- Properties of selected element will be shown here -->
        </div>
    </div>
</div>

<script src="/js/report-builder.js"></script>
<%- include('partials/footer') %> 